.header {
  background-color: #000000;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

}

.header a {
  text-decoration: none;
}